/*logo*/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&display=swap');

body{
    box-sizing: border-box;
    margin: 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.imagem {
    width: 171px;
    height: 36px;
}

/*Menu*/
    
.menu, .menu-mobile{
    height: 40px;
    margin-top: 22px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Encode Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;

    border: 1px solid #E5E5E5;
}

@media (max-width:600px){
    .menu{
        display: none;
    }
}

@media (min-width:600px){
    .menu-mobile{
        display: none;
    }
}

.g1{
    color:#C3170C ;
    width: auto;
   
}
.globo{
    color: #1E4B9B;
}
.valor{
    color: #006766;
}
.ge{
color: #07AA47;
width: auto;
}
.cartola{
    color: #E3662B;
}
.globoplay{
    color: #FB0735;
}
.dropz{
    color: #FF75BB;
}
.gshow{
    color: #EC7D00;
    width: auto;
}
.quem{
    color: #323333;
}
.receitas{
    color: #A81D83;
    
}
.videos{
    color: blue;
    width: auto;
    
}
.tech{
    color: blue;
    width: auto;
    
}


/* conteudos */

.container{
    display: flex;
    justify-content: center;

    
}

.materia-principal{
    width: 540px;
    height: 251px;
    
    font-weight: 700;
    margin-top: 20px;

  
}
.materias{
    width: 630px;
    height: auto;
   
    display: flex;
    flex-wrap: wrap;


}
.side-bar{
    width: auto;
    height: 600px;
    

    display: flex;

}



.side-bar{
    margin-left: 50px;
}

.titulo-material-prin{
    font-size: 52px;
    color: #C4160C;
}

.subtitulo{
    font-size: 18px;
    margin-top: 20px;
    line-height: 22px;
    font-weight: 500;
}

.titulo1{
    font-size: 14px;
    color:#C4170C ;
    font-weight: 500;
}
.titulo2{
    font-size: 20px;
    color:#2F3134 ;
    font-weight: 700;
}
.titulo3{
    font-size: 14px;
    color:#2F3134 ;
    font-weight: 400;
    margin-top: 10px;
}
        

.materias-quadros{
   
    width: 193px;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.barra-meio{
    background-color: #EBEDEF;
    width: 1px;
    height: auto;
}

.barra{
    width: auto;
    height: 1px;
    background-color: #EBEDEF;
    margin-bottom: 10px;
}

.side-materia1{
    width: 250px;
    height: 700px;

    margin-top: 20px;
}
.side-materia2{
    width: 250px;
    height: auto;
    margin-top: 20px;
}

.materias-quadros-side{
    width: 240px;
    margin-top: 10px;
}

a {
    text-decoration: none;
   
}
a { 
    color: inherit;
 } 
 
.menu a:hover{
    font-size: 30px;
}

@media (max-width:600px){
    
    .container, .materias, .side-bar{
        display: flex;
        flex-direction: column;
        
        width: auto;
    }
    .side-bar{
         margin-left: 10px;
    }
    .titulo-material-prin{
        font-size: 20px;
        width: auto;
    }
    .materia-principal{
        width: 100%;
        height: auto;
        
    }

    .materias{
        width: auto;
        height: auto;
        
    }
   .menu{
    margin-left: 0;
    
   }

   .menu-mobile{
    width: auto;
   }
}
        